<!-- hello_world.html -->

<!DOCTYPE html>
<html>
  <head>
    <title>Breakfast Order</title>
    <style>
        body {
           background-color: lightyellow;
        }
        em {
            color: LightSeaGreen;
        }
        #myChart {
        	width: '50%';
        	height: '10%';
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
            crossorigin="anonymous">
    </script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
		        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
		        crossorigin="anonymous">
    </script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
		        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
		        crossorigin="anonymous">
		</script>
		<link rel="stylesheet" 
		      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
		      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
		      crossorigin="anonymous">
  </head>
  <body>
  	{% load static %}

		<div class="col-6">
			<p>1. 訂單免運比例圓餅圖</p>
			<canvas id="myChart"></canvas>
		</div>
		<br>
		<div class="col-8">
			<p>2. 畫出用戶及下訂行為的同類群組分析表(Cohort) (以天為週期 )</p>
			<canvas id="myLineChart"></canvas>
		</div>
		<br>
		<div class="col-6">
			<p>3. 最受用戶歡迎的商品前三名</p>
			{% for product_name in popular_product %}
				<div>Top{{ forloop.counter }}:  {{ product_name }}</div>
			{% endfor %}
		</div>
      
  </body>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
  <script type="text/javascript">
  	window.shipping = {
  		free: {{ shipping.free }},
  		others: {{ shipping.others }}
  	}
    window.cohort_data = {{ cohort_data|safe }};
  </script>
  <script src="{% static 'js/order.js' %}" type="text/javascript"></script>
</html>